<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand text-warning" href="{{ path('app_front_home') }}">
            <img class="d-inline-block align-text-top" src="{{ asset('assets/images/image-2.png') }}">
            Frynance
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ms-auto">
                {% include "theme/layouts/partials/components/_language_switch.html.twig" %}
                {% if app.user %}
                    <li class="nav-item">
                        <a href="{{ path('app_admin_home') }}" class="nav-link btn btn-primary"><i class="bi bi-grid"></i> {{ 'navbar.dashboard'|trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_front_logout') }}" class="nav-link btn btn-danger"><i class="bi bi-person"></i> {{ 'navbar.logout'|trans }}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_front_login') }}" class="btn btn-primary btn-block"><i class="bi bi-person"></i> {{ 'navbar.login'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>