<!DOCTYPE html>

<title>Recipe</title>

{% block body %}
    <h1>Recipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recipe.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ recipe.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_recipe_index') }}">back to list</a>

    <a href="{{ path('app_admin_recipe_edit', {'id': recipe.id}) }}">edit</a>

    {{ include('back/recipe/_delete_form.html.twig') }}
{% endblock %}
