{# {% extends 'theme/layouts/vertical_one_column_layout.html.twig' %} #}
{% extends 'theme/layouts/auth_layout.html.twig' %}

{% block title %}{{ 'contact.title'|trans() }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-12">
            <div id="auth-left">
                <h1 class="auth-title">{{ "contact.title"|trans() }}</h1>
                <p class="auth-subtitle mb-5">{{ "contact.subtitle"|trans() }}</p>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">{{ "contact.btn"|trans() }}</button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="col-lg-6 d-none d-lg-block">
            <div id="auth-right">
            </div>
        </div>
    </div>
{% endblock %}